*{
  font-family: 'Poppins', sans-serif;
}
/*=======================================INICIO NAVBAR =================================*/
ul {
    background-color: #68B984;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

ul {
    position: fixed;
    top: 0;
    width: 100%;
  }

ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

.fotokati {
    position: fixed;
    margin-top: 1.5px;
    margin-left: 1.5px;
    border-radius: 50px;
  }

li {
    float: left;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #3D5656;
  }


li {
    border-right: 1px solid black;
  }

li:last-child {
  border-right: none;
}

#barra {
  border-radius: 10px;
}
/*=======================================FIN NAVBAR =================================*/                                     

/*======================================= INICIO SCROLLBAR ==========================*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3D5656; 
  border-radius: 10px;
}
/*====================================== FIN SCROLLBAR ==============================*/
.fondo{
  border-radius: 10px;
}